* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: rgb(243, 243, 243);
    text-align: center;
    border-top: 1px solid rgb(228, 228, 228);
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 30px 0;
}

.container p {
    text-align: center;
}


.img-zoom-container img {
    margin: 0 10px 0 0;
    border: 1px solid #d4d4d4;
}

.img-zoom-container img:hover {
    cursor: zoom-in;
}

.img-zoom-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageContenedor {
    position: relative;
}

.red-border {
    position: absolute;
    bottom: 6px;
    left: 4px;
    width: 140px;  
    height: 60px; 
    border: 3px solid yellow; 
    pointer-events: none; 
    animation: colorChange 2s linear infinite; 
}

@keyframes colorChange {
    0% {
        border-color: yellow; 
    }
    50% {
        border-color: black; 
    }
    100% {
        border-color: yellow; 
    }
}

.img-zoom-lens {
    position: relative;
    width: 40px;
    height: 40px;
    opacity: 0;
    
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 300px; /* Ancho por defecto */
    height: 300px; /* Altura por defecto */
    background-repeat: no-repeat;
    margin-top: auto; /* Esto empuja el elemento hacia abajo */
}

/* Responsive Styles */

/* Móviles */
@media (max-width: 600px) {
    .img-zoom-container {
        flex-direction: column; /* Apila las imágenes verticalmente en móviles */
    }
    
    .red-border {
        width: 80px; /* Ajuste del tamaño del borde */
        height: 40px; 
    }
    
    .img-zoom-result {
        border: 1px solid #d4d4d4;
        width: 80%; /* Usar el 100% del ancho contenedor */
        height: auto; /* Ajustar la altura automáticamente para mantener la proporción */
        padding: 10px; /* Ajuste del padding para móviles */
        background-repeat: no-repeat;
        margin-top: 20px; /* Margen superior para separar de otros elementos */
        max-width: 300px; /* Máximo ancho para mantener un tamaño pequeño en pantallas grandes */
    }
}

/* Tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
    .img-zoom-container {
        flex-direction: row; /* Mantener el diseño en fila */
        justify-content: center; /* Centrar elementos */
    }
    
    .red-border {
        width: 100px; /* Ajustar el tamaño del borde para tabletas */
        height: 50px; 
    }
    
    .img-zoom-result {
        padding: 0 150px; /* Ajuste del padding para tabletas */
    }
}

/* Ordenadores */
@media (min-width: 1025px) {
    .red-border {
        width: 120px; /* Tamaño original */
        height: 60px; 
    }
    
    .img-zoom-result {
        padding: 0 300px; /* Padding original para ordenadores */
    }
}
